body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-size: 23px;
}

.jumbotron {
  text-align: center;
  background-color: rgb(168, 113, 168);
  color: rgb(247, 242, 242);
  border-radius: 0;
  border-bottom: 10px solid black;
  font-size: 1rem;
  font-family: cursive;
  font-weight: bold;
  text-shadow: rgb(83, 5, 83);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #08568a;
  border-top: 1px dashed #000000;
  font-family: cursive;
  font-size: 1rem;
  font-weight: bold;
}

.past {
  background-color: #bdbcbc;
  color: white;
}

.present {
  background-color: #c0d312;
  color: rgb(114, 36, 36);
}

.future {
  background-color: #a689db;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #721575;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
